<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Syck Cloud | Hello Syck and Get Cat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"
          rel="stylesheet" meda="screen"/>
</head>
<body>
<div class="container" style="display:flex; justify-content: center; align-items: center;">
    <div class="col-lg-8" style="display:flex; flex-flow: column;">
        <h1>Get cats from TheCatAPI.com</h1>
        <p>Want a new cat!?</p>
        <button id="hitme" type="button" class="btn btn-primary">Get cat!</button>

        <img id="cat_pic" class="img-responsive" src="http://icons.iconarchive.com/icons/iconka/meow/256/cat-walk-icon.png" style="padding:20px 0px;"/>
    </div>
</div>
</body>
</html>
<script>
    $('#hitme').on({
        'click': function(){
            $.get("/getcat")
                .done(function(data){
                    console.log(data.img);
                    $('#cat_pic').attr("src",data.img);

                });
        }
    });

</script>